.section {
    flex-grow: 1;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: var(--m-plus);
}

.heading {
    font-size: var(--l-size);
    text-align: center;
    font-weight: 300;
    line-height: 4.0;
}

.products {
    margin-top: var(--xl-size);
    display: grid;
    grid-gap: var(--m-plus);
    grid-template-columns: repeat(2, 1fr);
}

.link {
    display: block;
}

.img {
    display: block;
    width: 100%;
}

.name {
    font-size: var(--s-plus);
    margin-top: var(--s-minus);
}

.price {
    font-size: var(--s-plus);
    color: var(--gray);
    margin-bottom: var(--xs-size);
}

@media (min-width: 676px) {
    .heading {
        line-height: 8.0;
    }

    .products {
        grid-template-columns: repeat(4, 1fr);
    }
}
