.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(45, 45, 45, 0.7);
    z-index: 2;
}

.container {
    background-color: white;
    max-width: 82vw;
    width: 360px;
    height: 100vh;
    margin-left: auto;
    padding-bottom: calc(75px + 44px + 44px);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--s-minus) var(--m-plus);
    flex-shrink: 0;
    position: sticky;
}

.heading {
    font-weight: 300;
}

.cancel {
    min-width: 44px;
    min-height: 44px;
    outline: none;
    position: relative;
    left: var(--s-plus);
}

.cancelIcon {
    width: var(--m-size);
    height: var(--m-size);
    position: relative;
    top: 0.2rem;
}

.items {
    flex-grow: 1;
    overflow: auto;
    padding: var(--m-plus);
}

.footer {
    max-width: 82vw;
    width: 360px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: white;
    padding: var(--m-plus);
}

.subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 44px;
}

.price {
    color: var(--red);
}

.submit {
    display: block;
    width: 100%;
    min-height: 44px;
    color: white;
    background-color: var(--black);
    user-select: none;
}

.submit:disabled {
    background-color: var(--gray);
}

.submit:disabled:hover {
    cursor: not-allowed;
}
