.section {
    flex-grow: 1;
}

.container {
    max-width: 1024px;
    padding: var(--m-plus);
    margin: 0 auto;
}

.heading {
    font-size: var(--l-size);
    font-weight: 300;
    text-align: center;
}
