.container {
    margin-top: var(--m-plus);
    color: var(--black);
}

.name {
    font-size: var(--m-plus);
}

.price {
    font-size: 2.8rem;
}

.abstract {
    font-size: var(--m-minus);
    padding: var(--xl-size) 0;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-size: var(--m-plus);
    font-weight: 300;
}

.controls {
    min-height: 44px;
    border: 1px solid var(--black);
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.control {
    min-width: 44px;
    min-height: 44px;
    font-size: var(--l-size);
    font-weight: 300;
    outline: none;
}

.control:disabled {
    color: var(--gray);
}

.control:disabled:hover {
    cursor: not-allowed;
}

.quantityText {
    display: inline-block;
    text-align: center;
    min-width: 44px;
    padding: 0 var(--s-minus);
}

.submit {
    display: block;
    margin-top: var(--l-size);
    width: 100%;
    min-height: 44px;
    color: white;
    background-color: var(--black);
    user-select: none;
    outline: none;
}

.submit:disabled {
    background-color: var(--gray);
}

.submit:disabled:hover {
    cursor: not-allowed;
}

@media (min-width: 676px) {
    .container {
        margin-top: 0;
        width: 360px;
    }
}
