.section {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--s-minus);
    max-width: 1024px;
    margin: 0 auto;
}

.button {
    min-width: 44px;
    min-height: 44px;
}

.button:focus {
    outline: none;
}

.button:disabled:hover {
    cursor: not-allowed;
}

.menuIcon {
    width: var(--m-plus);
    position: relative;
    top: 0.25rem;
}

.cancelIcon {
    width: var(--m-minus);
    position: relative;
    top: 0.25rem;
}

.logo {
    height: 44px;
}

.logoIcon {
    height: 44px;
}

.user {
    display: none;
}

.userIcon {
    width: 2.2rem;
    position: relative;
    top: 0.1rem;
}

.bag {
    position: relative;
}

.bagIcon {
    width: 2.2rem;
}

.count {
    display: inline-block;
    font-size: var(--s-size);
    line-height: var(--m-plus);
    border-radius: 50%;
    width: var(--m-plus);
    height: var(--m-plus);
    transform: scale(0.75);
    color: white;
    background-color: var(--red);
    position: absolute;
    right: 0.2rem;
    bottom: var(--xs-size);
}

@media (min-width: 1024px) {
    .menu {
        display: none;
    }

    .buttons {
        flex: 1;
        text-align: right;
    }

    .user {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
