.section {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    max-width: 1024px;
    margin: 0 auto;
}

.button {
    min-width: 44px;
    min-height: 44px;
}

.button:focus {
    outline: none;
}

.button:disabled:hover {
    cursor: not-allowed;
}

.menuIcon {
    width: 2.0rem;
    position: relative;
    top: 0.25rem;
}

.cancelIcon {
    width: 1.4rem;
    position: relative;
    top: 0.25rem;
}

.logo {
    height: 44px;
}

.logoIcon {
    height: 44px;
}

.user {
    display: none;
}

.userIcon {
    width: 2.2rem;
    position: relative;
    top: 0.1rem;
}

.bag {
    width: 2.2rem;
}

@media (min-width: 1024px) {
    .menu {
        display: none;
    }

    .buttons {
        flex: 1;
        text-align: right;
    }

    .user {
        display: inline-block;
    }
}
