.container {
    display: flex;
    align-items: center;
    margin-bottom: var(--s-minus);
}

.picture {
    display: block;
    width: 6.0rem;
    height: 6.0rem;
    flex-shrink: 0;
}

.img {
    display: block;
    width: 100%;
}

.info {
    margin-left: var(--s-size);
    min-width: 0rem;
}

.name {
    font-size: var(--m-minus);
    line-height: 1.2;
    color: var(--black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quantity {
    color: var(--gray);
    font-size: var(--s-plus);
    position: relative;
    top: var(--xs-size);
}

.price {
    color: var(--red);
    font-size: var(--s-plus);
}

.button {
    min-width: 44px;
    min-height: 44px;
    outline: none;
    align-self: flex-start;
    position: relative;
    bottom: var(--s-size);
    left: var(--s-plus);
    margin-left: auto;
}

.icon {
    width: var(--m-minus);
}
