.section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 360px;
    margin: 0 auto;
    padding: 0 var(--m-plus);
}

.heading {
    font-weight: lighter;
    font-size: var(--l-size);
    text-align: center;
    line-height: 7.2rem;
}

.message {
    margin-top: var(--l-size);
    color: var(--gray);
    display: inline-block;
    line-height: var(--xl-size);
}

.label {
    display: block;
    padding: var(--s-plus) 0;
}

.input {
    display: block;
    width: 100%;
    line-height: 44px;
    padding: 0 var(--m-minus);
}

.submit {
    display: block;
    width: 100%;
    line-height: 48px;
    color: white;
    background-color: var(--black);
    margin-top: var(--m-plus);
}

.submit:disabled {
    background-color: var(--gray);
}

.submit:disabled:hover {
    cursor: not-allowed;
}

.link {
    text-decoration: underline;
    text-decoration-color: rgba(153, 153, 153, 0.7);
}
