.nav {
    display: none;
    flex: 1;
}

.navLinks {
    max-width: 1024px;
    margin: 0 auto;
    display: inline-flex;
}

.navLink {
    display: block;
    color: rgb(153, 153, 153);
    line-height: 44px;
    min-width: 44px;
    padding: 0 1.2rem;
    font-weight: 300;
    position: relative;
    top: 0.4rem;
}

.navLink:hover {
    color: black;
}

@media (min-width: 1024px) {
    .nav {
        display: block;
    }
}
