.container {
    color: var(--black);
    font-size: var(--m-minus);
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 44px;
}

.button:focus {
    outline: none;
}

.title {
    font-size: var(--m-plus);
    font-weight: 300;
}

.icon {
    width: var(--s-plus);
}

.content {
    display: none;
}

@media (min-width: 676px) {
    .container {
        margin-top: var(--xl-size);
    }

    .button:hover {
        cursor: default;
    }

    .icon {
        display: none;
    }

    .content {
        display: block;
    }
}
