.section {
    background-color: var(--white);
    margin-top: 4.8rem;
}

.footer {
    padding: var(--l-size) 0;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    font-size: var(--s-plus);
    color: var(--gray);
}
