.nav {
    display: none;
    flex: 1;
}

.navLinks {
    max-width: 1024px;
    margin: 0 auto;
    display: inline-flex;
}

.navLink {
    display: block;
    color: var(--gray);
    line-height: 44px;
    min-width: 44px;
    padding: 0 var(--s-plus);
    font-weight: 300;
    position: relative;
    top: var(--xs-size);
}

.navLink:hover {
    color: black;
}

.active {
    color: black;
}

.disabled {
    display: block;
    color: var(--gray);
    line-height: 44px;
    min-width: 44px;
    padding: 0 var(--s-plus);
    font-weight: 300;
    position: relative;
    top: var(--xs-size);
}

.disabled:hover {
    cursor: not-allowed;
}

@media (min-width: 1024px) {
    .nav {
        display: block;
    }
}
