.section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: var(--m-plus);
}

.iconWrapper {
    display: block;
    text-align: center;
}

.icon {
    width: 6.0rem;
}

.heading {
    font-size: var(--l-size);
    letter-spacing: 0.1rem;
    font-weight: 300;
    text-align: center;
    margin-top: var(--xs-size);
}

.message {
    color: var(--gray);
    font-size: var(--m-minus);
    margin-top: var(--l-size);
}

.link {
    color: var(--red);
    text-decoration: underline;
}
